body {
  font-family: Lato;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 30px;

  background: #fff;
  border: 1px solid #ddd;
  margin-top: 30px;
}

input {
  width: 250px;
  height: 25px;
  padding: 5px 30px;
  border-radius: 5px;
  border: 1px solid rgb(218, 211, 211);
}

input,
button {
  padding: 5px 15px;
  border-radius: 2px;
  background: linear-gradient(to bottom, #dbe8f0 5%, #828485 100%);
	background-color: #07920e;
}

button:hover {
  cursor: pointer;
}
